/* Write your CSS here */
.bgConataintr {
  background-color: #000000;
  padding: 20px;
  height: 130vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
